.sconsign.dblite
accepteg1.o
akdn.o
build/bin/
clasDIS.o
dnstrf.o
elacc_newnew.o
getcos.o
jetset.o
lambda.o
lepto.o
leptoak.o
lflav.o
lpriktak.o
newpdfs.o
parjset4hermes.o
parton.o
pepsi423.o
polleptox.o
radgen.o
write2filed.o
write2filep.o
